.center ul {
    display: flex;
    background-color:yellow;
    
   
   
}
.center ul li{
    list-style: none;
width: 120px;
margin: 15px;

}
.center ul li a{
    text-decoration: none;
    color:red;
}
.center1{
    display: none;
}
.center ul li:hover .center1{
    display: block;
    position: absolute;
}
.center ul li:hover .center1 ul{
    display: block;
}
.center ul li:hover .center1 ul li{
    text-align: left;
    width: 150px;
    
}
